{{>layout/header}}

{{#article}} <!-- 이 태그 내에서는 article 모델의 데이터가 있다는 것을 알림 -->
<form class="container" action="/article/update" method="post">
    <input type="hidden" name="id" value="{{id}}">

    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{title}}">
    </div>

    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/article/{{id}}">Back</a>
</form>

{{>layout/footer}}
{{/article}}