<div id="comment-list">
    {{#commentDtos}}
<!--        모델의 데이터를 가져오기에 # 붙여야됨-->
        <div class="card m-2">
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDtos}}
</div>